apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: {{ config.cluster_name }}
rendezvousIP: {{ masters[0].ip }}
additionalNTPSources:
  - {{ static_ip.gateway }}
hosts:
{% for item in masters %}
  - hostname: master{{ loop.index }}.{{ config.cluster_name }}.{{ config.base_domain }}
    role: master
    interfaces:
      - name: eno1
        macAddress: {{ item.mac }}
    networkConfig:
      interfaces:
        - name: eno1
          type: ethernet
          state: up
          mac-address: {{ item.mac }}
          ipv4:
            enabled: true
            address:
              - ip: {{ item.ip }}
                prefix-length: 24
            dhcp: false
      dns-resolver:
        config:
          server:
            - {{ static_ip.dns }}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ static_ip.gateway }}
            next-hop-interface: eno1
            table-id: 254
{% endfor %}
{% if workers is defined %}
{% for item in workers %}
  - hostname: worker{{ loop.index }}.{{ config.cluster_name }}.{{ config.base_domain }}
    role: worker
    interfaces:
      - name: eno1
        macAddress: {{ item.mac }}
    networkConfig:
      interfaces:
        - name: eno1
          type: ethernet
          state: up
          mac-address: {{ item.mac }}
          ipv4:
            enabled: true
            address:
              - ip: {{ item.ip }}
                prefix-length: 24
            dhcp: false
      dns-resolver:
        config:
          server:
            - {{ static_ip.dns }}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ static_ip.gateway }}
            next-hop-interface: eno1
            table-id: 254
{% endfor %}
{% endif %}
{% if infras is defined %}
{% for item in infras %}
  - hostname: infra{{ loop.index }}.{{ config.cluster_name }}.{{ config.base_domain }}
    role: worker
    interfaces:
      - name: eno1
        macAddress: {{ item.mac }}
    networkConfig:
      interfaces:
        - name: eno1
          type: ethernet
          state: up
          mac-address: {{ item.mac }}
          ipv4:
            enabled: true
            address:
              - ip: {{ item.ip }}
                prefix-length: 24
            dhcp: false
      dns-resolver:
        config:
          server:
            - {{ static_ip.dns }}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ static_ip.gateway }}
            next-hop-interface: eno1
            table-id: 254
{% endfor %}
{% endif %}
