apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ iso_pvc_name }}
  namespace: "{{ project_name }}"
spec:
  accessModes:
    - ReadWriteMany
  volumeMode: Block
  storageClassName: "{{ ovirt.storage_class }}"
  resources:
    requests:
      storage: 2Gi