apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: agent-iso-{{ config.cluster_name }}-pvc
  namespace: "{{ project_name }}"
spec:
  accessModes:
    - ReadWriteMany
  volumeMode: Block
  storageClassName: "{{ ovirt.storage_class }}"
  resources:
    requests:
      storage: 2Gi