apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{ (item.name + '-' + config.cluster_name + '-' + config.base_domain) | replace('.', '-') }}
  namespace: {{ project_name }}
spec:
  running: false
  dataVolumeTemplates:
    - apiVersion: cdi.kubevirt.io/v1beta1
      kind: DataVolume
      metadata:
        name: "{{ item.name }}-{{ config.cluster_name }}-rootdisk"
      spec:
        source:
          blank: {}    
        storage:
          accessModes:
            - ReadWriteMany
          resources:
            requests:
              storage: "{{ item.disk_size_gb }}Gi"
          storageClassName: {{ ovirt.storage_class }}
  template:
    spec:
      evictionStrategy: LiveMigrateIfPossible
      architecture: amd64
      domain:
        cpu:
          cores: {{ item.cpu / 2 }}
          sockets: 2
          threads: 1
        devices:
          disks:
            - bootOrder: 1
              disk:
                bus: virtio
              name: rootdisk
            - bootOrder: 2
              cdrom:
                bus: sata
              name: installation-cdrom
{% if item.odf_disk_size is defined %}
            - lun:
                bus: scsi
              name: odf-osd-1
{% endif %}
          interfaces:
            - bridge: {}
              model: virtio
              name: default
          logSerialConsole: false
          networkInterfaceMultiqueue: false
          rng: {}
        features:
          acpi: {}
          smm:
            enabled: false
        firmware:
          bootloader:
            efi:
              secureBoot: false
        machine:
          type: pc-q35-rhel9.4.0
        memory:
          guest: "{{ item.ram_gb }}Gi"
        resources: {}
      networks:
        - multus:
            networkName: {{ ovirt.bridge }}
          name: default
      terminationGracePeriodSeconds: 180
      volumes:
        - dataVolume:
            name: "{{ item.name }}-{{ config.cluster_name }}-rootdisk"
          name: rootdisk
        - name: installation-cdrom
          persistentVolumeClaim:
            claimName: {{ iso_pvc_name }}
{% if item.odf_disk_size is defined %}
        - name: odf-osd-1
          persistentVolumeClaim:
            claimName: "{{ item.name }}-{{ config.cluster_name }}-odf-osd-1"
{% endif %}