- name: Start master nodes
  kubevirt.core.kubevirt_vm:
    name: "{{ (item.name + '-' + config.cluster_name + '-' + config.base_domain) | replace('.', '-') }}"
    namespace: "{{ project_name }}"
    running: true
    kubeconfig: "{{ cluster_data_dir }}/install-dir/ovirt-kubeconfig"
  loop: "{{ nodes.master }}"
  
- name: Start worker nodes
  kubevirt.core.kubevirt_vm:
    name: "{{ (item.name + '-' + config.cluster_name + '-' + config.base_domain) | replace('.', '-') }}"
    namespace: "{{ project_name }}"
    running: true
    kubeconfig: "{{ cluster_data_dir }}/install-dir/ovirt-kubeconfig"
  loop: "{{ nodes.worker }}"
  when:  nodes.worker is defined and nodes.worker | length > 0

- name: Start infra nodes
  kubevirt.core.kubevirt_vm:
    name: "{{ (item.name + '-' + config.cluster_name + '-' + config.base_domain) | replace('.', '-') }}"
    namespace: "{{ project_name }}"
    running: true
    kubeconfig: "{{ cluster_data_dir }}/install-dir/ovirt-kubeconfig"
  loop: "{{ nodes.infra }}"
  when:  nodes.infra is defined and nodes.infra | length > 0
  